<form [formGroup]="my_react_form" (ngSubmit)="onSubmit(my_react_form)">
    <!-- Date -->
    <mat-form-field appearance="fill">
        <mat-label>Date:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
            *ngIf="my_react_form.get('date')!.invalid && (my_react_form.get('date')!.dirty || my_react_form.get('date')!.touched)">
            Please provide a date.
        </mat-error>
    </mat-form-field>
    <!-- Job Title -->
    <mat-form-field appearance="fill">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle">
        <mat-error
            *ngIf="my_react_form.get('jobTitle')!.invalid && (my_react_form.get('jobTitle')!.dirty || my_react_form.get('jobTitle')!.touched)">
            Please provide a job title.
        </mat-error>
    </mat-form-field>
    <!-- Department -->
    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select name="department" formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department.value">
                {{department.value}}
            </mat-option>
        </mat-select>
        <mat-error
            *ngIf="my_react_form.get('department')!.invalid && (my_react_form.get('department')!.dirty || my_react_form.get('department')!.touched)">
            Please provide a department.
        </mat-error>
    </mat-form-field>
    <!-- Manager Name -->
    <mat-form-field appearance="fill">
        <mat-label>Hiring Manager Name</mat-label>
        <input matInput formControlName="managerName">
        <mat-error
            *ngIf="my_react_form.get('managerName')!.invalid && (my_react_form.get('managerName')!.dirty || my_react_form.get('managerName')!.touched)">
            Please provide the name of the Hiring Manager.
        </mat-error>
    </mat-form-field>
    <!-- Manager Email -->
    <mat-form-field appearance="fill">
        <mat-label>Hiring Manager Email</mat-label>
        <input matInput formControlName="managerEmail">
        <mat-error
            *ngIf="my_react_form.get('managerEmail')!.invalid && (my_react_form.get('managerEmail')!.dirty || my_react_form.get('managerEmail')!.touched)">
            Please provide the Email of the Hiring Manager.
        </mat-error>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="my_react_form.invalid">Submit</button>
</form>
<app-form-table [FormDataFromParent]="FormData"></app-form-table>