<mat-table #form_table [dataSource]="formDataArray">
    <ng-container matColumnDef="subNo">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.subNo}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.date}}</td>
    </ng-container>
    <ng-container matColumnDef="jobTitle">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.jobTitle}}</td>
    </ng-container>
    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.department}}</td>
    </ng-container>
    <ng-container matColumnDef="managerName">
        <th mat-header-cell *matHeaderCellDef>Manager's Name</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.managerName}}</td>
    </ng-container>
    <ng-container matColumnDef="managerEmail">
        <th mat-header-cell *matHeaderCellDef>Manager's Email</th>
        <td mat-cell *matCellDef="let form_data">{{form_data.managerEmail}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row;columns:cols;"></tr>
</mat-table>